<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>welcome to textanalyzer</h1>
<form action="/analyze",method="get">
    <textarea name='text' style="margin: 0px; width: 1058px; height: 225px;">
    </textarea><br>
    <input type="checkbox" name="rempunc">Remove punctutaion<br>
    <input type="checkbox" name="fullcaps">uppercase<br>
    <input type="checkbox" name="newlineremover">New Line  Remover <br>
    <input type="checkbox" name="spaceremover">space Remover<br>
    <input type="checkbox" name="numberremover">Number Remover
    <button type="submit">submit</button>
</form>
</body>
</html>